* {
    box-sizing: border-box;
}

body {
    background: radial-gradient(circle at center, #f0f4f8, #d9e2ec);
    display: flex;
    justify-content: center;
    align-items: center;
}

.sandwich-wrapper {
    position: relative;
    width: 350px;
    z-index: 10;
}

#toggle-sandwich {
    display: none;
}

.sandwich-bun-top {
    display: block;
    background: linear-gradient(to bottom, #cfa35c, #b08d4c);
    color: white;
    padding: 20px 25px;
    text-align: center;
    border-radius: 15px;
    cursor: pointer;
    box-shadow: 0 8px 15px rgba(139, 69, 19, 0.3);
    position: relative;
    z-index: 2;
    user-select: none;
}

.sandwich-bun-top span {
    display: block;
    font-size: 18px;
    font-weight: 700;
}

.sandwich-bun-top .subtitle {
    font-size: 12px;
    font-weight: 400;
}


.sandwich-filling-dropdown {
    position: absolute;
    top: 100%;
    left: 5%;
    width: 90%;
    background-color: #fffbf0;
    box-shadow: 0 10px 20px rgba(0,0,0,0.15);
    padding: 10px 0;
    z-index: 1;

    visibility: hidden;
    opacity: 0;
    transform: translateY(-20px) scale(0.95);
}

#toggle-sandwich:checked ~ .sandwich-filling-dropdown {
    visibility: visible;
    opacity: 1;
    transform: translateY(0) scale(1);
}

.ingredient-layer {
    display: flex;
    border-bottom: 1px dashed #e0d3c1;
    color: #5a5a5a;
}

.ingredient-layer:last-child {
    border-bottom: none;
}

