.parallax {
    height: 100%;
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    align-items: center;
    justify-content: center;
}

#dog {
    background-image: url("https://www.outsideonline.com/wp-content/uploads/2023/03/Funny_Dog_S.jpg");
}

#cat {
    background-image: url("https://i.natgeofe.com/n/548467d8-c5f1-4551-9f58-6817a8d2c45e/NationalGeographic_2572187_16x9.jpg?w=1200");
}

img {
    width: 100%;
}

body,html {
    height: 100%;
}

.content-block {
    height: 400px;
    background-color: black;
    color: white;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 20px;
    text-align: center;
}