.section-padding {
    padding: 120px 0;
}

.section-padding:last-of-type {
    padding: 50px 0;
}

.text-primary, .nav-link.active {
    color: #690dfd !important;
}

.profile-img {
    width: 200px;
    height: 200px;
    object-fit: cover;
    border: 5px solid #fff;
    transition: transform 0.3s;
}

.profile-img:hover {
    transform: scale(1.05);
}

.social-links a {
    transition: color 0.3s;
}

.social-links a:hover {
    color: #690dfd !important;
}