body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.text-primary {
    color: #6400d6 !important;
}

.hero-section {
    height: 100vh;
    background: linear-gradient(rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7)), 
                url('https://i.pinimg.com/originals/2c/39/35/2c3935cdb3421b437c49764ac41a9ac0.gif');
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
