#ft_list {
    margin-top: 20px;
    border: 1px solid #ccc;
    min-height: 50px;
    padding: 10px;
}
.todo-item {
    padding: 10px;
    margin-bottom: 5px;
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    cursor: pointer;
}
.todo-item:hover {
    background-color: #ffe5e5;
}